
                .thisset{
                    margin-left: 345px;
                    float: left;
                    }
                .lgn{
                        margin-top: 25px;
                        margin-right: -75px;
                        background: #0000;
                        border: 1px solid white;
                }
                
		.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*background-image: url("img/aside_bg.jpg");*/
       background-color: #01121542;
    border-radius:5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

    .col2{
    margin-left: 28px;
    height: 345px;
    }

    .common{background-color: #fefefefe;
    border-radius: 5px;
    width: 48%;
    float: left;
    margin-top: 25px;
    padding-top: 25px;
     height: 345px;
    margin-top: 25px;

}


    .fm input[type="email"],input[type="password"]{
            margin-right: 20px;
    padding: 5px 60px;
        background-color: #b9afaf14;
        margin-top: -15px;
    }

.fm input[value="Login"]{
        background-color: #2996a2;
    margin-right: 22px;
    padding: 18px 128px;
    margin-top: 27px;
    }

.fm input[value="Register"]{
        background-color: #2996a2;
       margin-right: 20px;
    padding: 18px 117px;
    margin-top: -10px;
    }
    

